/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.flex{
  display: flex;
  align-items: center;
}
/* general */

/* header */
header{
  padding: 40px 0px 40px 0px;
}
header li {
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
  color: #cccccc;
  position: relative;
}

header li:hover {
  color: #000;
}

.container {
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.left-menu img {
  height: 50px;
}

#personal {
  color: #000;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 180%;
  width: 145px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 4%) 0px 0px 4px 0px, rgb(0 0 0 / 8%) 0px 8px 16px 0px;
  background-color: #fff;
}

.dropdown-menu li {
  padding: 20px 10px 20px 10px;
  margin-right: 0;
}

/* bottoni */
.btn {
  border-radius: 10px;
  padding: 10px 24px;
}

.btn-grey {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #000;
  margin-right: 20px;
}

.btn-black {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.btn-grey:hover{
  background-color: #bfbfbf;
}

.btn-black:hover {
  opacity: 0.5;
  color:#fff;
}
/* header */
